<div class="grid-single grid-single-pad"> <!-- Main Grid -->
<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo-single"></a>

<div class="col-single"> <!-- Single Col -->

    <!-- Box -->
   

<h2 class="pageTitle">Positions</h2>

<!-- <table>
  <tr>
    <th>Name</th>
	<th>Note</th>
    <th>Description</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.name %></td>
	<td><%= position.note %></td>
    <td><%= position.description %></td>
	<% if admin %>
	    <td><%= link_to 'Show', position %></td>
	    <td><%= link_to 'Edit', edit_position_path(position) %></td>
	    <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>

  </tr>
<% end %>
</table> -->

<% @positions.each do |position| %>
  <section class="contentBox Positions">
    <h1><%= position.name %></h1>
    <p><%= position.note %></p>
    <p><%= position.description %></p>
      <% if admin %>
      <%= link_to 'Show', position %>
      <%= link_to 'Edit', edit_position_path(position) %>
      <%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </section>
<% end %>

<section class="contentBox Positions">
<h1>Judicial Elections</h1>

<p>In Illinois, voters choose all judges. Most judges receive the endorsement of either the Democratic or the Republican Party and receive money from their Party to campaign. They also raise funds or use their own personal money for their campaigns. </p>

<p class="judgeHeader">Circuit Court Judges</p> 
<p>In Illinois, the circuit court is the court of original jurisdiction. The Circuit Court of Cook County contains Chicago and is the largest of the 22 circuits in Illinois. Circuit court judges are elected by voters throughout Cook County and may live anywhere in the county. They are elected for a six year term and may be retained by voters for additional six year terms. Circuit judges are initially elected either circuit-wide, from the county where they reside or from a sub-circuit within a county, depending on the type of vacancy they are filling. Once elected, county-wide judges may be placed in any division of the Circuit Court system and can hear any circuit court case.</p> 

<p>The circuit court shares jurisdiction with the Supreme Court to hear cases relating to revenue, mandamus, prohibition, and habeas corpus. If the Supreme Court chooses to exercise its authority in a case of these types, the circuit court loses jurisdiction. The circuit court is also the reviewing court for certain state agency administrative orders. </p>

<p class="source">Sources: <a href="http://www.voteforjudges.org">VoteForJudges.org</a>, <a href="http://www.state.il.us/court/CircuitCourt/CCInfoDefault.asp">Illinois Courts official site</a>, <a href="http://en.wikipedia.org/wiki/Illinois_Circuit_Courts">Wikipedia</a></p>


<p class="judgeHeader">Appellate Court Judges</p>

<p>Cook County is one of 5 appellate districts in Illinois. The Supreme Court assigns judges to each of the district’s six divisions. The presiding judge of each division then assigns judges to panels of three to hear appeals of civil and criminal cases from all over the County. </p>

<p>The number of appellate court judgeships, currently fifty-four, is determined by the legislature. The Supreme Court can assign additional circuit, appellate or retired judges temporarily to any district. Judges are elected by voters in each district for ten-year terms, and may be retained for additional ten-year terms. Each judge has a support staff of two law clerks and a secretary.</p>

<p>Except for those cases appealed directly to the Supreme Court, a person has the right to request a review of a circuit court judge’s decision by the appellate court.</p>

<p class="source">Sources: <a href="http://www.voteforjudges.org">VoteForJudges.org</a>, <a href="http://www.state.il.us/court/AppellateCourt/AppGenInfoDefault.asp">Illinois Courts official site</a></p>

<p class="judgeHeader">Supreme Court Judges</p>

<p>The Supreme Court of Illinois consists of seven justices elected from the five appellate judicial districts of the state: Three justices from the First District (Cook County) and one from each of the other four districts. Each justice is elected for a term of ten years.</p>

<p>The court has limited original jurisdiction and has final appellate jurisdiction. It has mandatory jurisdiction in capital cases and cases where the constitutionality of laws has been called into question, and discretionary jurisdiction from the Illinois Appellate Court. Along with the state legislature, the court promulgates rules for all state courts. Its members have the authority to elevate trial judges to the appellate court on a temporary basis. The court administers professional discipline through the Attorney Registration and Disciplinary Committee and governs initial licensing through the Illinois Board of Admissions to the Bar.</p>

<p class="source">Sources: <a href="http://en.wikipedia.org/wiki/Supreme_Court_of_Illinois">Wikipedia</a></p>
</section>

<section class="contentBox Positions">
  <h1>Judicial Retention</h1>
  <p>Judges are elected for a specific term. Once that term expires, judges must run for retention in order to retain their positions. In order to remain on the bench for another term, they must receive at least 60% voter approval. All Cook County Circuit Court judges who are facing retention will be on the ballot in Chicago. Retention elections are non-partisan; existing judges do not campaign with the affiliation of either the Democratic or Republican Party. They may seek endorsements from individuals such as alderman or others, but they do not receive party endorsement. Judges running for retention must use their own money or raise money from individuals; they may not seek money from political parties.</p>

<p class="source">Sources: <a href="http://www.voteforjudges.org">VoteForJudges.org</a>, Gapers Block; "<a href="http://gapersblock.com/mechanics/2012/10/30/judging-the-judges/">The Bottom of the Ballot: Judging the Judges</a>"</p>
</section>
</div>
</div>
