<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul class="error">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, :class => "textinput" %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name, :class => "textinput" %>
  </div>
  <div class="field">
    <%= f.label :zipcode, "ZIP Code" %><br />
    <%= f.text_field :zipcode, :class => "textinput" %>
  </div>
  <div class="field">
    <%= f.label :description, "Bio" %><br />
    <%= f.text_area :description, :class => "comments" %>
  </div>
  <div class="field">
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email, :class => "textinput" %>
  </div>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :class => "textinput" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, :class => "textinput" %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
