<div class="grid grid-pad clearfix"> <!-- main wrapper -->
<a href="/"><img src="/assets/myBallotLogo.png" alt="My Ballot Chicago Logo" class="logo"></a>

<!-- <p><%= notice %></p>-->

<div class="profile">
<div class="profileContent clearfix">

	<section class="person clearfix">
		<img src="/assets/GJ.jpg" class="idphoto">
		<section class="person-info">
			<h3><!--   <b>Name:</b>--><%= @user.first_name %> <%= @user.last_name %>
			</h3>
			<ul>
				<li><b>Email:</b> <%= @user.email %></li>
				<li><b>ZIP Code:</b> <%= @user.zipcode %></li>
				<li><b>Description:</b> <%= @user.description %></li>
				<li><%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', users_path %></li>
			</ul>
	</section> <!-- Close person-info -->
	</section> <!-- Close person -->
	
	<section class="voteCounter">
		<h3>Vote Counter</h3>
        <div class="number">80</div>
        <p>Votes left to cast</p>
	</section> <!-- Close voteCounter -->

	<section class="calendar">
		<h3>Calendar</h3>
			<ul>
				<% @elections.each do |election|%>
				<li><b><%= election["name"]  %></b></li>
				<% end %>
			</ul>
	</section> <!-- Close calendar -->
	
</div> <!-- Close profileContent, clearfix -->
</div> <!-- Close profile -->


<div class="col-1-3"> <!-- Col 1 -->

<section class="contentBox"><!-- Box -->
<!-- President -->
	<h2>Federal</h2>
	<% position = Position.find_by_name("President") %>
	<h3><%= position.name %> / Vice President</h3>
		<ul class="candidates">
		<% @candidatelist.each do |candidate| %>
			<% if "2012-11-06" == candidate["electionDate"] %>
				<% if "President" == candidate["electionOffice"] %>
					<li><span class="dot">&nbsp;</span>
						<%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %> 
					<% if candidate["runningMateName"].present? %>
					/ <%= candidate["runningMateName"] %><% end %><span class="party"><%= candidate["electionParties"] %></span>
					</li>
				<% end %>
			<% end %>
		<% end %>
		</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
	   		<% @comment = c %>
		<% else %>
	   		<% @comment = Comment.new %>
		<% end %> 	

	<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p> 

<!-- U.S. House -->
    <% position = Position.find_by_name("U.S. House") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<% @candidatelist.each do |candidate| %>
			<% if "2012-11-06" == candidate["electionDate"] %>
				<% if "U.S. House" == candidate["electionOffice"] %>
					<li><span class="dot">&nbsp;</span>
					<%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %><span class="party"><span class="district">Congressional District <%= candidate["electionDistrictName"] %>, </span><%= candidate["electionParties"] %></span> 
					</li>
				<% end %>
			<% end %>
		<% end %>				
	</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
	   		<% @comment = c %>
		<% else %>
	   		<% @comment = Comment.new %>
		<% end %> 	

	<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p> 

</section> <!-- END BOX -->

<section class="contentBox"><!-- Box -->	

	<h2>State</h2>
<!-- State Senate -->
	<% position = Position.find_by_name("State Senate") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<% @candidatelist.each do |candidate| %>
	   		<% if "2012-11-06" == candidate["electionDate"] %>
	   			<% if "State Senate" == candidate["electionOffice"] %>
		   			<li><span class="dot">&nbsp;</span>
		   				<%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %><span class="party"><span class="district">State Senate District <%= candidate["electionDistrictName"] %>, </span><%= candidate["electionParties"] %></span> 
					</li>
		   		<% end %>
		   	<% end %>
		<% end %>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
	   		<% @comment = c %>
		<% else %>
	   		<% @comment = Comment.new %>
		<% end %> 	

	<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p> 

 <!-- State House -->
	<% position = Position.find_by_name("State House") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		  <% @candidatelist.each do |candidate| %>
		  <% if "2012-11-06" == candidate["electionDate"] %>
		  <% if "State House" == candidate["electionOffice"] %>
		  <li><span class="dot">&nbsp;</span>
		  <%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %><span class="party"><span class="district">State House District <%= candidate["electionDistrictName"] %>, </span><%= candidate["electionParties"] %></span> 
				</li>
		  </li>
		  <% end %>
		  <% end %>
		  <% end %>
	</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p>  
		
</section> <!-- End Box -->

<section class="contentBox"> <!-- Box -->	

	<h2>County</h2>
<!-- Metropolita Water Reclamation Distric Commissioners -->
	<% position = Position.find_by_name("Metropolitan Water Reclamation District Commissioners") %>
	<h3><%= position.name %></h3>
		<h4><%= Position.find_by_name("Metropolitan Water Reclamation District Commissioners").note %></h4>
			<ul class="multi">
				<li><span class="multi-dot">&nbsp;</span>Debra Shore <span class="party">Democratic</span></li>
				<li><span class="multi-dot">&nbsp;</span>Kari K. Steele <span class="party">Democratic</span></li>
				<li><span class="multi-dot">&nbsp;</span>Patrick Daley Thompson <span class="party">Democratic</span></li>
				<li><span class="multi-dot">&nbsp;</span>Harold "Noonie" Ward <span class="party">Republican</span></li>
				<li><span class="multi-dot">&nbsp;</span>Carl Segvich <span class="party">Republican</span></li>
				<li><span class="multi-dot">&nbsp;</span>Dave Ehrlich <span class="party">Green</span></li>
				<li><span class="multi-dot">&nbsp;</span>Karen Roothaan <span class="party">Green</span></li>
				<li><span class="multi-dot">&nbsp;</span>Nasrin R. Khalili <span class="party">Green</span></li>
			</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p> 

<!-- Clerk of the Circuit Court -->
	<% position = Position.find_by_name("Clerk of the Circuit Court") %>
	<h3><%= position.name %></h3>
			<ul class="candidates">
				<li><span class="dot">&nbsp;</span>Dorothy A. Brown <span class="party">Democratic</span></li>
				<li><span class="dot">&nbsp;</span>Diane S. Shapiro <span class="party">Republican</span></li>
			</ul>

	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
		<%= form_for(@comment, :remote => true) do |f| %>
		  <% if @comment.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
		      <ul>
		      <% @comment.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		 <!-- <a href="#" class="saveBtn">save</a> --> 
		<div class="actions">
			<%= f.submit %>
		</div>

		<div class="field"> 	
			<%= f.label "Who Are You Thinking?" %><br />
			<%= f.text_area :post %>
			<%= f.hidden_field :position_id, :value => position.id %>
			<%= f.hidden_field :user_id, :value => session[:id] %>	
		<% end %>
		</div> 
   	</div>        
    <p class="slideBtn">▼</p> 

<!-- Recorder -->
	<% position = Position.find_by_name("Recorder") %>
	<h3><%= position.name %></h3>
		<ul class="candidates">
			<li><span class="dot">&nbsp;</span>Karen A. Yarbrough <span class="party">Democratic</span></li>
			<li><span class="dot">&nbsp;</span>Sherri Griffith <span class="party">Republican</span></li>
		</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 

  <!-- State's Attorney -->
	<% position = Position.find_by_name("State's Attorney") %>
	<h3><%= position.name %></h3>
 	
 	<ul class="candidates">
 		<li><span class="dot">&nbsp;</span>Anita Alvarez <span class="party">Democratic</span></li>
 		<li><span class="dot">&nbsp;</span>Lori S. Yokoyama <span class="party">Republican</span></li>
 	</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 

<!-- Section Two Starts -->	
</section> <!-- End Box -->

</div> <!-- End Col 1 -->

<div class="col-2-3"> <!-- Col 2 -->

<section class="contentBox"> <!-- Box -->	

	<h2>Judicial</h2>
<!-- Judge, Illinois Supreme Court (Vacany of Fitzgerald) -->
	<% position = Position.find_by_name("Judge, Illinois Supreme Court (Vacancy of Fitzgerald)") %>
	<h3><%= position.name %></h3>
		<ul class="candidates">
			<li><span class="dot">&nbsp;</span>Mary Jane Theis <span class="party">Democratic</span></li>
			<li><span class="dot">&nbsp;</span>James Gerard Riley <span class="party">Republican</span></li>
		</ul>
<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 

<!-- Judge, Cook County Judicial Circuit (Vacancy of Stralka) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Stralka)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Michael Tully Mullen <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 

<!-- Judge, Cook County Judicial Circuit (Vacancy of Ward) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Ward)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Elizabeth Mary Hayes <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of Conlon) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Conlon)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Karen Lynn O'Malley <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 

<!-- Judge, Cook County Judicial Circuit (Vacancy of Jordan) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Jordan)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Jean Prendergast Rooney <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Kirie Kinnaird) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Kirie Kinnaird)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Erica L. Reddick <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of Moran) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Moran)") %>
	<h3><%= position.name %></h3>		
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Russell L. Hartigan <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of O'Brien, Jr.) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of O'Brien, Jr.)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Cynthia Ramirez <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of O'Mara Frossard) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of O'Mara Frossard)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Diann Karen Marsalek <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of Pucinski) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Pucinski)") %>
	<h3><%= position.name %></h3>
	<ul class="candidates">
		<li>L<span class="dot">&nbsp;</span>orna Ellen Propes <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Judge, Cook County Judicial Circuit (Vacancy of Simmons, Jr.) -->
	<% position = Position.find_by_name("Judge, Cook County Judicial Circuit (Vacancy of Simmons, Jr.)") %>
	<h3><%= position.name %></h3>	
	<ul class="candidates">
		<li><span class="dot">&nbsp;</span>Pamela M. Leeming <span class="party">Democratic</span></li>
	</ul>

<!-- Comment Box -->
	<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

</section> <!-- End Box -->
</div> <!-- End Col 2 -->

 <div class="col-3-3"><!-- Col 3 -->

    <!-- Box -->
    <section class="contentBox">
      
      <h2>Judicial Retention</h2>

<!-- Appellate Court -->
      <% position = Position.find_by_name("Appellate Court") %>
	  <h3><%= position.name %></h3>
      <ul class="candidatesYN">
        <li>James Fitzgerald Smith<ul class="choice"><li>Y</li><li>N</li></ul></li>
      </ul>

<!-- Comment Box -->
<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p>

<!-- Circuit Court -->
    <% position = Position.find_by_name("Circuit Court") %>
	<h3><%= position.name %></h3>
      <ul class="candidatesYN">
        <li>Carole Kamin Bellows<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Kathy M. Flanagan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Moshe Jacobius<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Stuart F. Lubin<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Marvin P. Luckman<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Raymond Funderburk<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Stuart E. Palmer<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Martin S. Agran<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Patricia Banks<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Ronald F. Bartkowicz<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Robert Lopez Cepero<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Garritt E. Howard<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Joseph G. Kazmierski, Jr.<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>E. Kenneth Wright, Jr.<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Cynthia Brim<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Rodney Hughes Brooks<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Maureen Elizabeth Connors<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Christopher Donnelly<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>James D. Egan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Catherine Marie Haberkorn<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Lisa Ruble Murphy<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Marya Nega<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Lee Preston<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Drella C. Savage<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>James M. Varga<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Richard F. Walsh<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Camille E. Willis<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Marcia Maras<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Peter Flynn<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Paul A. Karkula<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>P. Scott Neville, Jr.<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Maura Slattery Boyle<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Mary Margaret Brosnahan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Matthew E. Coghlan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Loretta Eadie-Daniels<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Joyce Marie Murphy Gorman<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Joan Margaret O'Brien<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Thomas David Roti<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Colleen F. Sheehan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Pamela E. Hill-Veal<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Orville E. Hambright<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Michael J. Howlett, Jr.<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Carl Anthony Walker<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Daniel Patrick Brennan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Gloria Chevere<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Grace G. Dickler<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Ellen L. Flannigan<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Carol M. Howard<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Jill C. Marisie<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>James Michael McGing<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Mike McHale<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>James Patrick Murphy<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Thomas W. Murphy<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Patrick W. "Pat" O'Brien<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Ramon Ocasio III<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Mary Colleen Roberts<ul class="choice"><li>Y</li><li>N</li></ul></li>
        <li>Diane M. Shelley<ul class="choice"><li>Y</li><li>N</li></ul></li>
      </ul>

<% c = Comment.where("position_id" => "#{position.id}", "user_id" => "#{session[:id]}").last %>
		<% if c %> 
		   <% @comment = c %>
		<% else %>
		   <% @comment = Comment.new %>
		<% end %> 	
	
		<div class="slideContent"> 
			<%= form_for(@comment, :remote => true) do |f| %>
			  <% if @comment.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
			
			      <ul>
			      <% @comment.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			   <!-- <a href="#" class="saveBtn">save</a> --> 
			  <div class="actions">
			    <%= f.submit %>
		      </div>

			  <div class="field">
			  	
			    <%= f.label "Who Are You Thinking?" %><br />
			    <%= f.text_area :post %>
			    <%= f.hidden_field :position_id, :value => position.id %>
			    <%= f.hidden_field :user_id, :value => session[:id] %>
			
			  </div>
			  <% end %> 
   		</div>
		<p class="slideBtn">▼</p> 
   
    </div>
 </section>
</div><!--  End Col 3 -->

</div> <!-- Closing wrapper -->


