<h1>Ballot</h1>
<h2>Your next elections are:</h2>
	<ul>
		<% @elections.each do |election|%>
		<li><%= election["name"]  %></li>
		<% end %>
	</ul>
<h2>Federal</h2>
<p>President:</p>
	<ul>
	<% @candidatelist.each do |candidate| %>
		<% if "2012-11-06" == candidate["electionDate"] %>
		<% if "President" == candidate["electionOffice"] %>
		<li>
		<%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %>
		<% if candidate["runningMateName"].present? %>
		<br />Vice President: <%= candidate["runningMateName"] %>
		<% end %>
		</li>
		<% end %>
		<% end %>
		<% end %>
		</br>
		<div>[THIS IS A COMMENT BOX]</div>
	</ul>
	
	
<p>U.S. House of Representatives:</p>
	<ul>
			<% @candidatelist.each do |candidate| %>
				<% if "2012-11-06" == candidate["electionDate"] %>
				<% if "U.S. House" == candidate["electionOffice"] %>
				<li>
				<%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %>: <%=candidate["electionOffice"]  %>
				</li>
				<% end %>
				<% end %>
				<% end %>
				</br>
				<div>[THIS IS A COMMENT BOX]</div>
			</ul>
			
<h2>State</h2>
<p>State House of Representatives:</p>
	<ul>
		  <% @candidatelist.each do |candidate| %>
		  <% if "2012-11-06" == candidate["electionDate"] %>
		  <% if "State House" == candidate["electionOffice"] %>
		  <li>
		  <%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %>: <%=candidate["electionOffice"]  %>
		  </li>
		  <% end %>
		  <% end %>
		  <% end %>
		  </br>
		  <div>[THIS IS A COMMENT BOX]</div>
	</ul>

<p>State Senate:</p>
	<ul>
	   <% @candidatelist.each do |candidate| %>
	   <% if "2012-11-06" == candidate["electionDate"] %>
	   <% if "State Senate" == candidate["electionOffice"] %>
	   <li>
	   <%= link_to "#{candidate['ballotName']}", candidatebio_url(:candidate_id => "#{candidate['candidateId']}") %>: <%=candidate["electionOffice"]  %>
	   </li>
	   <% end %>
	   <% end %>
	   <% end %>
	   </br>
	   <div>[THIS IS A COMMENT BOX]</div>
	</ul>


	
<h2>County</h2>
<h3>Metropolitan Water Reclamation District Commissioners</h3>
		<h4>Vote for up to three candidates (6-year term)</h4>
			<ul class="candidates">
				<li>Debra Shore <span class="party">Democratic</span></li>
				<li>Kari K. Steele <span class="party">Democratic</span></li>
				<li>Patrick Daley Thompson <span class="party">Democratic</span></li>
				<li>Harold "Noonie" Ward <span class="party">Republican</span></li>
				<li>Carl Segvich <span class="party">Republican</span></li>
				<li>Dave Ehrlich <span class="party">Green</span></li>
				<li>Karen Roothaan <span class="party">Green</span></li>
				<li>Nasrin R. Khalili <span class="party">Green</span></li>
			</ul>
		

<h3>Clerk of the Circuit Court</h3>
			<ul class="candidates">
				<li>Dorothy A. Brown <span class="party">Democratic</span></li>
				<li>Diane S. Shapiro <span class="party">Republican</span></li>
			</ul>


<section class="office">
	<h3>Recorder</h3>
			<ul class="candidates">
				<li>Karen A. Yarbrough <span class="party">Democratic</span></li>
				<li>Sherri Griffith <span class="party">Republican</span></li>
			</ul>
</section>

<section class="office">
 	<h3>State's Attorney</h3>
 	<ul class="candidates">
 		<li>Anita Alvarez <span class="party">Democratic</span></li>
 		<li>Lori S. Yokoyama <span class="party">Republican</span></li>
 	</ul>
 </section>


<li class="level">
	<h2>Judicial</h2>
	<section class="office">
		<h3>Judge, Illinois Supreme Court</h3>
		<h4>(Vacancy of Fitzgerald)</h4>
		<h5>Illinois</h5>
		<ul class="candidates">
			<li>Mary Jane Theis <span class="party">Democratic</span></li>
			<li>James Gerard Riley <span class="party">Republican</span></li>
		
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Stralka)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Michael Tully Mullen <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Ward)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Elizabeth Mary Hayes <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Conlon)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Karen Lynn O'Malley <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Jordan)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Jean Prendergast Rooney <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Kirie Kinnaird)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Erica L. Reddick <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Moran)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Russell L. Hartigan <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of O'Brien, Jr.)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Cynthia Ramirez <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of O'Mara Frossard)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Diann Karen Marsalek <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Pucinski)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Lorna Ellen Propes <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judge, Cook County Judicial Circuit</h3>
		<h4>(Vacancy of Simmons, Jr.)</h4>
		<h5>Cook County, Illinois</h5>
		<ul class="candidates">
			<li>Pamela M. Leeming <span class="party">Democratic</span></li>
		</ul>
	</section>

	<section class="office">
		<h3>Judicial Retention, Appellate Court </h3>
		<ul class="candidates yesno">
			<li>James Fitzgerald Smith</li>
		</ul>
	</section>

	<section class="office">
		<h3>Judicial Retention, Circuit Court</h3>
		<ul class="candidates yesno">
			<li>Carole Kamin Bellows</li>
			<li>Kathy M. Flanagan</li>
			<li>Moshe Jacobius</li>
			<li>Stuart F. Lubin</li>
			<li>Marvin P. Luckman</li>
			<li>Raymond Funderburk</li>
			<li>Stuart E. Palmer</li>
			<li>Martin S. Agran</li>
			<li>Patricia Banks</li>
			<li>Ronald F. Bartkowicz</li>
			<li>Robert Lopez Cepero</li>
			<li>Garritt E. Howard</li>
			<li>Joseph G. Kazmierski, Jr.</li>
			<li>E. Kenneth Wright, Jr.</li>
			<li>Cynthia Brim</li>
			<li>Rodney Hughes Brooks</li>
			<li>Maureen Elizabeth Connors</li>
			<li>Christopher Donnelly</li>
			<li>James D. Egan</li>
			<li>Catherine Marie Haberkorn</li>
			<li>Lisa Ruble Murphy</li>
			<li>Marya Nega</li>
			<li>Lee Preston</li>
			<li>Drella C. Savage</li>
			<li>James M. Varga</li>
			<li>Richard F. Walsh</li>
			<li>Camille E. Willis</li>
			<li>Marcia Maras</li>
			<li>Peter Flynn</li>
			<li>Paul A. Karkula</li>
			<li>P. Scott Neville, Jr.</li>
			<li>Maura Slattery Boyle</li>
			<li>Mary Margaret Brosnahan</li>
			<li>Matthew E. Coghlan</li>
			<li>Loretta Eadie-Daniels</li>
			<li>Joyce Marie Murphy Gorman</li>
			<li>Joan Margaret O'Brien</li>
			<li>Thomas David Roti</li>
			<li>Colleen F. Sheehan</li>
			<li>Pamela E. Hill-Veal</li>
			<li>Orville E. Hambright</li>
			<li>Michael J. Howlett, Jr.</li>
			<li>Carl Anthony Walker</li>
			<li>Daniel Patrick Brennan</li>
			<li>Gloria Chevere</li>
			<li>Grace G. Dickler</li>
			<li>Ellen L. Flannigan</li>
			<li>Carol M. Howard</li>
			<li>Jill C. Marisie</li>
			<li>James Michael McGing</li>
			<li>Mike McHale</li>
			<li>James Patrick Murphy</li>
			<li>Thomas W. Murphy</li>
			<li>Patrick W. "Pat" O'Brien</li>
			<li>Ramon Ocasio III</li>
			<li>Mary Colleen Roberts</li>
			<li>Diane M. Shelley</li>
		</ul>
	</section>
		</ul>
	</section>
</li>
</ul>