<div class="grid-single grid-single-pad"> <!-- Main Grid -->
<img src="/assets/myBallotLogo.png" class="logo-single" alt="My Ballot Logo">

<div class="col-single"> <!-- Single Col -->

    <!-- Box -->
    <section class="contentBox">

	    <img src="<%= @candidatebio['photo'] %>" alt="<%= @candidatebio["firstName"] %> <%= @candidatebio["middleName"] %> <%= @candidatebio["lastName"] %>" class="biophoto clearfix">

		<h1><%= @candidatebio["firstName"] %> <%= @candidatebio["middleName"] %> <%= @candidatebio["lastName"] %></h1>
		
		<ul class="bio">  

		<li><h3>Date of Birth</h3> <%= @candidatebio["birthDate"] %></li>
		<li><h3>Birth Place</h3> <%= @candidatebio["birthPlace"] %></li>
		<li><h3>Family Info</h3> <%= @candidatebio["family"] %></li>
		<li><h3>Hometown</h3> <%= @candidatebio["homeCity"] %>, <%= @candidatebio["homeState"] %></li>
		<li><h3>Education</h3> <%= @candidatebio["education"] %></li>
		<li><h3>Political Status</h3> <%= @candidatebio["political"] %></li>
		<li><h3>Religion</h3> <%= @candidatebio["religion"] %></li>
		<li><h3>Congressional Membership</h3 ><%= @candidatebio["congMembership"] %></li>
		<li><h3>Organizational Membership</h3> <%= @candidatebio["orgMembership"] %></li>
		</ul>

	</section> <!-- End contentBox -->
	
</div> <!-- End Single Col -->
</div> <!-- End Main Grid -->